body,div,ul,ol,li,h1,h2,form,fieldset,input,p,th,td{ margin:0; padding:0;}

ol, ul{ list-style:none; }


body{
	background:#eee;
	line-height: 17px;
	text-shadow: 0 1px 0 #fff;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-size: 10pt;
	font-family: Helvetica, Verdana, sans-serif;
	color: #1C00A1;
}

legend {
font-size: 12pt;
font-weight: bold;
}


form{
	background: linear-gradient(90deg, #ccc, #fff); 
	border: 1px solid #aaa;
	border-radius: 10px;
	margin: 50px auto 0;
	padding: 25px;
	width: 75%;
}

h1{
	border-bottom:2px solid #ccc;
	font-size: 15pt;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 20px;
	padding-bottom: 20px;
	text-transform: uppercase;
    text-align: center;
}

form p{
	margin-bottom: 20px;
}

label{
	cursor: help;
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 10px;
	width: 180px;
}

form p:hover label{
	color: #0459b7;
}

form p:hover label:after{
	content:"☞";
}

input[type=text]{
	background: rgba(255, 255, 255, 0.9);
	background: linear-gradient(90deg, #fff, #eee);
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 6px;
}


